@page "/homework"

<PageTitle>Homework</PageTitle>
<h1>Homework</h1>
@*Первая*@
<div class="MyContainer">
    <div>
        <div id="rectangle"> </div>
        <img src="Images/image1.png" style="position: relative; bottom: 251px; left: 3px; width: 241px" alt="Not found">

        <img src="Circles/circle1.png" style="position: relative; top: -158px; right: 235px; "alt="Not found">

        <p class="name"><b>Семён Волков | ИстФех</b></p>
        <p class="presciption">10 часов назад</p>
        <p class="title"><b>Заметки об историческом фехтовании в<br/> Самаре: клубы, тренировки, мастера и...</b></p>
        <p class="text">Историческое фехтование – это не только спортивная <br/>дисциплина, но и увлекательное погружение в мир <br/>старинных боевых искусств. В последние годы все...</p>
    </div>

        @*Вторая*@
    <div>
        <div id="rectangle"> </div>
        <img src="Images/image2.png" style="position: relative; top: -251px; left: 3px; width: 241px" alt="Not found">

        <img src="Circles/circle2.png" style="position: relative; top: -158px; right: 235px; "alt="Not found">

        <p class="name"><b>European War History</b></p>
        <p class="presciption">4 часа назад</p>
        <p class="title"><b>Вырвал свои пальцы, когда врачи<br/> отказались их удалить. Военная история с...</b></p>
        <p class="text">Адриан Картон де Виар (Adrian Carton de Wiart) — это <br/>британский офицер, участвовавший в Первой и Второй <br/>мировых войнах. Он родился 5 мая 1880 года в Бельгии...</p>
    </div>
        

        @*Третья*@
    <div>
        <div id="rectangle"> </div>
        <img src="Images/image3.png" style="position: relative; top: -251px; left: 3px; width: 241px" alt="Not found">

        <img src="Circles/circle3.png" style="position: relative; top: -158px; right: 235px; "alt="Not found">

        <p class="name"><b>I_Love_Ptichechki</b></p>
        <p class="presciption">1 день назад</p>
        <p class="title"><b>Султанки: Яркие красавицы тропиков,<br/> ставшие героями многочисленных мемов.</b></p>
        <p class="text">Султанки – это настоящие живые драгоценности, <br/>которые обитают в тропических лесах Юго-Восточной <br/>Азии. Эти яркие птицы с невероятным оперением и...</p>
    </div>
        

        @*Четвертая*@
    <div>
        <div id="rectangle"> </div>
        <img src="Images/image4.png" style="position: relative; top: -251px; left: 3px; width: 241px" alt="Not found">

        <img src="Circles/circle4.png" style="position: relative; top: -158px; right: 235px; "alt="Not found">

        <p class="name"><b>Дядя Лёва</b></p>
        <p class="presciption">30 минут назад</p>
        <p class="title"><b>Как правильно обрезать ботву картофеля <br/> для получения богатого урожая?</b></p>
        <p class="text">Картофель растёт практически на каждом огороде и <br/>известно много приёмов, которые помогают повысить <br/>его урожайность. Один из них - обрезка ботвы перед...</p>
    </div>
</div>


@code {
    
}